# ─── SMTP Configuration ───
# Configura queste variabili con il tuo provider SMTP
# (Gmail, Outlook, server proprio, etc.)

SMTP_HOST=smtppro.zoho.eu
SMTP_PORT=465
SMTP_USER=info@alsolelusiana.it
SMTP_PASS=Fgf6NPherA@
SMTP_TO=info@alsolelusiana.it
